{{ $styles := resources.Get "css/subheader.scss" | css.Sass | resources.Minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">

<div class="subheader">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 offset-lg-1">
                <a href="#up" class="logo logo_margin">
                    <img src="{{ "icons/logo/logo_finished.svg" | relURL }}" alt="logo">
                </a>
            </div>
            <div class="col-6 col-sm-6 col-md-6 offset-md-2 col-lg-5 offset-lg-3">
                <div class="touch touch_margin">
                    <a href="tel:+79281758320" class="phone phone_margin">+79281758320</a>
                    <a href="https://t.me/rechistart" class="touch__telegram">
                        <img
                            src="{{ "icons/messangers/telegram.svg" | relURL }}" 
                            alt="telegram">
                    </a>
                    <a href="https://wa.me/79281758320" class="touch__wtsp">
                        <img 
                            src="{{ "icons/messangers/whatsapp.svg" | relURL }}"
                            alt="wtsp">
                    </a>
                </div>
                <div class="touch-mobile">
                    <a href="tel:+79281758320" class="phone phone_mobile">+79281758320</a>
                    <div class="touch-mobile__wrapper">
                        <a href="https://t.me/rechistart" class="touch-mobile__telegram">
                            <img
                                src="{{ "icons/messangers/telegram.svg" | relURL }}" 
                                alt="telegram">
                        </a>
                        <a href="https://wa.me/79281758320" class="touch-mobile__wtsp">
                            <img
                                src="{{ "icons/messangers/whatsapp.svg" | relURL }}" 
                                alt="wtsp">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>